/*----------------------------------------------
  COLORS
-----------------------------------------------*/
$red: #e45959;
$green: #4c7c7d;
$black: #383634;
$gray: #8e8c8a;
$white: #ffffff;

$light-cream: #f7f5f3;
$dark-cream: #edeae7;
$light-gray: #e2e0dd;

$light-red: #f3e4e2;
$light-green: #e4e7e5;

$dark-red: #c94d4c;
$dark-green: #2a3a3b;
$dark-gray: #5f5d5b;

/*----------------------------------------------
  FONT
-----------------------------------------------*/
$regular: 400;
$semibold: 600;
$bold: 700;
$heavy: 900; // Aka "black"

/*----------------------------------------------
  OTHER
-----------------------------------------------*/
$border-radius: 8px;
$border-radius-big: 20px;

$content-max-width: 1380px;
$content-padding: 20px;
