/*----------------------------------------------
  COLORS
-----------------------------------------------*/
$red: #e45959;
$green: #4c7c7d;
$black: #383634;
$light-cream: #f7f5f3;
$dark-cream: #edeae7;
$white: #ffffff;

/*----------------------------------------------
  FONT
-----------------------------------------------*/
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;

/*----------------------------------------------
  OTHER
-----------------------------------------------*/
$border-radius: 8px;
